body{
    background-color: gray;
}
.mc{
    position: relative;
    background: black;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    
}
.hw{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 2%;
    padding: 10px 2rem;
   
}
.ui{
    display: flex;
    align-items: center;
    gap: 1;
}
.sb{
    background: goldenrod;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}
.sb input{
    background: gold;
    padding:10px;
    outline: none;
    border: none;
}
.sb i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0,5s ease-out;
}
.sb i:hover{
    transform: scale(1.2);
}
h1{
    color: goldenrod;
}
h2{
    color: gold;
}
i{
    color: gold;
}
.cc{
    background-color: black;
    padding: 2rem;
    border-radius: 10px;
}
.cw{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
}
span{
    color: gold;
}
.mt{
    padding-bottom: 10px;
    font-size: 35px;
}

/* 
Đặt tên, đừng để dấu cách ở giữa vậy nữa giùm t
   - Từ Tài -
*/